{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":-1,"stack":[[{"start":{"row":10,"column":14},"end":{"row":10,"column":52},"action":"insert","lines":["sudo apt install python3-dev libpq-dev"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":14},"end":{"row":10,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1589913445337,"hash":"698e6b6f29d05b8ab7be1eef58f537a3522c3d32"}